.imageError {
  display: flex;
  justify-content: center;
  position: relative;
}

.errorText {
  font-weight: normal;
  color: black;
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
  margin-right: 50px;
}

img.responsive {
  max-width: 100%;
  width: 800px !important;
  height: auto !important;
  padding: 50px;
  margin-bottom: 176px;
}
