footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #ec4528;
  height: 58px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
}
